@media (min-width: 1200px) {
	
	.elementor-section.elementor-section-boxed.tm-1330px > .elementor-container,
	.container {
		max-width: 1330px;
	}
	.elementor-section.elementor-section-boxed>.elementor-container	{
		max-width: 1300px;
	}
	.site-footer .tm-widget-sep-on .ttm-business-footer .widget-area:not(:first-child):after {
		width: 1px;
		height: 100%;
		content: '';
		position: absolute;
		left:0px;
		background-color: rgba(0,0,0,.1);
		top: 0;
	}
	.site-footer .tm-widget-sep-on .ttm-business-footer .widget-area {
		padding:0px 40px 0px;
	}
	.site-footer .tm-widget-sep-on .ttm-business-footer .widget-area:first-child {
		padding-left:0px;
	}
	.site-footer .tm-widget-sep-on .ttm-business-footer .widget-area:last-child {
		padding-right:0px;
	}
	.header-layout-3 .site-header {
		position: absolute;
		z-index: 21;
		width: 100%;
		background-color:transparent;
	}
}
@media (max-width: 1200px) {
	#site-navigation-mobile {
		display: block;
	}
	.site-header .contact-info {
		display: none;
	}
	.header-layout-1 .header-stickable {
		display: none;
	}
	.header-layout-1+.site-content .ttm-business-page-title {
		margin-top: 0;
	}
	.container-fullwide.site-header-top {
		padding: 0 15px;
	}
	#site-navigation-mobile {
	  margin-left: 15px;
	}
	.header-layout-3 .prt-search-overlay {
		right: 60px;
	}
	.site-footer .widget .tm-social-box ul.social-icons li {
		margin-bottom: 10px;
	}
	.header-layout-3 .site-header {
	    background-color: var(--prt-greycolor);
	}
	.site-header .site-logo {
		margin-right: 0;
	}
}
@media (max-width: 991px) {
	.page-sidebar-yes .site-content-inner:before {
		content:unset;
	}
	.content-area.col-lg-8 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-bottom: 50px;
	}
	.content-area.col-md-12 {
		padding-bottom: 50px;
	}
	.elementor-page .content-area.col-md-12 {
		padding-bottom:0px;
	}
	.site-content .widget-area.col-lg-4{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 0;
	}
	body.page-sidebar-yes .content-area.col-lg-8 {
		padding-right: 15px;
	}
	.site-content .sidebar {
       padding-bottom: 70px;
    }
    .single-post .content-area.col-md-12,
    .single-post .content-area.col-lg-8{
    	padding-bottom: 30px;
    }
	body.page-sidebar-yes .content-area.col-lg-8 {
		padding-bottom: 15px;
	}
	.single .content-area.col-lg-12,
	body.page-sidebar-yes.single-post .content-area.col-lg-8 {
		padding-bottom:50px;
		padding-top:50px;
	}
	.wp-block-media-text__content .has-large-font-size {
		font-size: 25px !important;
		line-height: 35px;
	}
	.wp-block-media-text.has-media-on-the-right.has-background .wp-block-media-text__content {
		padding: 20px;
	}
	.site-footer .ttm-business-footer-widgets-wrapper>.container,
	#masthead .site-header>.container {
		max-width: 100%;	
	}
	.ttm-business-footer-widgets-wrapper .widget {
		margin-bottom: 30px;
	}
	.site-footer .ttm-business-footer-widgets-wrapper {
		padding-bottom: 0;
	}
	.ttm-business-footer-widgets-wrapper .widget-area .widget:not(:first-child) {
		padding-top: 0;
	}
	.single .content-area.col-lg-12, body.page-sidebar-yes .content-area.col-lg-8 {
    	padding-top: 50px;
	}
}

@media (max-width: 767px) {
	.prt-mailchimp-form-style3 {
	  max-width: 100%;
	}
	.ttm-business-page-title .breadcrumb{
		padding-left: 0;
	}
	.ttm-business-page-title .text-right{
		text-align: left !important;
	}
	.site-main {
	  padding-top: 60px;
	} 
	.site-content .sidebar {
	  padding-bottom: 30px !important;
	}
	/* Blog */
	.comment-list .comment-body,
	.post-author-box {
		display: block;
	}
	.comment-list .comment-avatar,
	.post-author-box .post-author-image {
		margin-bottom: 30px;
	}
	.comment-list .children {
		padding-left: 30px;
	}
    .gallery-columns-2 .gallery-item {
    	max-width: 100%;
     }
     .comment-respond p.comment-form-author, 
     .comment-respond p.comment-form-email {
        margin-right: 0;
        flex: 100%;
     }
     .comment-form .form-submit{
       margin: 0;
     }
	section.error-404 {
		padding: 50px 0;
	}
	section.error-404 h1.page-title {
		font-size: 180px;
		line-height: 180px;
	}

	/* Nav */
	.comment-navigation .nav-previous,
	.posts-navigation .nav-previous,
	.post-navigation .nav-previous {
		width: 100%;
	}
	.comment-navigation .nav-next,
	.posts-navigation .nav-next,
	.post-navigation .nav-next {
		max-width: 100%;
		margin-top: 30px;
	}

	/* Header */
	
	/* Page Title */
	.ttm-business-page-title {
      height: 300px !important;
    }
    .ttm-business-page-title .page-title {
	    font-size: 32px;
	    line-height: 42px;
    }
    .tm-text-highlight .elementor-heading-title span {
	    font-size: 40px;
	    line-height: 50px;
	}
	.container {
		max-width: 100%;
	}
	.site-content .widget-area.col-lg-4 {
		padding-left:15px;
	}
	.ttm-contactform-03 .row .col-md-6:nth-child(2) {
		padding-left: 15px;	
	}	
  }

@media (max-width: 1200px) {
  /* Header */
  #site-navigation-mobile {
    display: block;
  }
  .header-layout-2 .ttm-business-header-button-container,
  .header-layout-2 .site-header-top > .d-flex:after,
  .site-header .contact-info {
    display: none;
  }
  .header-layout-2 .header-stickable-wrap,
  .header-layout-1 .header-stickable-wrap {
    display: none;
  }
  .site-header-container.header-layout-1 .site-header .align-items-center .header-right-side:before, .site-header-container.header-layout-1 .site-header .align-items-center .site-logo:after {
	content:unset;	
  }
}

@media (max-width: 1330px) {
.elementor-section .elementor-column .elementor-widget-wrap {
    padding-left: 15px !important;
    padding-right: 15px !important;
  
	}
	.site-footer .ttm-business-footer-widgets-wrapper{
	padding-left: 15px;
    padding-right: 15px;
	}
}	


/*************demo 1 responsive css**********/
@media (max-width: 1200px) {
.site-header .main-navigation > div > ul,
.site-header-container.header-layout-1 .main-navigation ul {
    display: none;
}
.site-header-container.header-layout-1 .header-right-side {
    display: none;
}
.prt-social-icon{
	padding-top: 0;
}
.mailchimp-inputbox .mailchimp-email i{
	bottom: 53%;
}
.header-layout-2 .site-header-top {
	max-width: 100%;		
}
}
@media (max-width: 1024px) {
.prt-footer-info .prt-social-info .prt-social-icon ul.icon {
    padding-left: 0;
}
.site-header-container.header-layout-1.prt-header-menu-position-center .main-navigation {
    display: none;
}
.tab-style1 .tm-tab-style1 {
  display: block;
}
.tab-style1 .tm-tab-style1 .tab-img {
  width: 100%;
}
.tab-style1 .tm-tab-style1 .tm-content {
  width: 100%;
  margin-bottom: 30px;
}
.tm-footer-quick-detailsbox {
  display: block;
}
.tm-social-box {
  display: block;
  padding-top:20px;
}
.elementor-heading-title br {
    display: none;
}
	.tab-style1 .tm-tab-style1 .tm-content {
      padding: 30px 30px 20px;
}
}
@media (max-width: 767px) {
.footer-menu1 {
    padding-left: 0px !important;
}
.prt-contact-add span br {
    display: none;
}
.site-content .ttm-business-page-title.d-flex.align-items-center {
    padding-top: 0;
}
.site-footer .widget_nav_menu {
    padding-left: 0 !important; 
}
.site-footer .ttm-business-footer-widgets-wrapper .ttm-business-footer.row .col-sm-12:last-child {
    margin-bottom: 0;
}
.comment-body {
    padding: 22px 20px 25px;
}
.prt-blog-classic-comment {
    padding: 25px;
}
.wp-block-media-text .wp-block-media-text__content {
    padding-top: 10px;
}
.ttm-business-blog-classic .entry-title {
    font-size: 25px;
    line-height: 35px;
}
.ttm-business-footer .widget-area:last-child {
    padding-left: 15px !important;
}
.ttm-business-footer-widgets-wrapper{
	padding-top: 0;
}
.ttm-business-page-title .page-title {
    font-size: 30px !important;
    line-height: 40px !important;
}
.elementor-social-icons-wrapper .elementor-social-icon span.elementor-screen-only {
    left: 17% !important;
    right: auto;
}
.tab-style1 .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title {
    display: none;
}
.tab-style1 .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-title {
    display: block;
}
.tab-style1 .elementor-tabs .elementor-tabs-wrapper:after{
	content: unset;
}
.tab-style1 .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-title {
    display: inline-block;
    width: 100%;
    background-color: #f6f7f9;
    padding: 15px 20px;
    border-radius: 0;
    border: 1px solid #eee;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}
.tab-style1 .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-title.elementor-active {
    background-color: #246dd6;
    border-color: #246dd6;
    color: #fff;
}
.ttm-header-cta {
	display:none;
}
}
@media (min-width: 768px) {
.comment-body .reply {
    position: absolute;
    right: 15px;
    top: 15px;
}
.header-layout-1+.site-content .ttm-business-page-title{
	padding-top: 0;
}

}
@media (max-width:991px) {
.ttm-business-footer-widgets-wrapper{
		padding-top: 0;
}
.site-footer .widget .prt-separator-link h3 {
    font-size: 20px !important;
    line-height: 37px !important; 
}
.elementor-social-icon span.elementor-screen-only {
    left: 30% !important;
    right: auto;
    font-size: 25px;
}
.site-footer .ttm-business-footer-widgets-wrapper {
    padding-left: 0;
    padding-right: 0;
}
.site-footer .ttm-business-footer-widgets-wrapper .ttm-business-footer.row .col-sm-12{
	padding-left: 0 !important;
}
.site-footer .ttm-business-footer-widgets-wrapper{
	padding-top: 50px;
}

}
@media (max-width:479px) {
.single-post .comment-author {
    opacity: 0;
    display: none;
}
.comment-body {
    margin-left: 0;
}
#site-navigation-mobile .slicknav_nav li .slicknav_arrow{
	 top: -5px;
	 position: relative;
}
.elementor-social-icons-wrapper .elementor-social-icon span.elementor-screen-only {
    left: 21% !important;
    right: auto;
}
.tab-style1 .tm-tab-style1 .tm-content{
	 padding: 30px 20px 50px 25px;
}
.tab-style1 .tm-tab-style1 .tm-content h3{
	font-size: 25px;
	line-height: 35px;
}
}

@media (max-width:1499px) {
.elementor-social-icon span.elementor-screen-only{
	left: 20%;
    right: auto;
}

}

@media (max-width:1499px) {
.tm-responsive-margin.elementor-section-boxed .elementor-widget-wrap.elementor-element-populated {
    margin-left:  0;
    margin-right: 0;
}
}

@media (min-width: 1200px) {
.header-layout-2 .site-header .site-logo {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
}
.header-layout-2 .site-header .headerlogo {
	margin: 0 auto;
}
.header-layout-2 .site-header .main-navigation div>ul>li {
    z-index: 1;
}
.header-layout-2 .site-header .main-navigation>div>ul {
    display: inline-block;
}
}
@media (max-width:480px) {
.prt-search-overlay {
	width: 250px;
}
    .tm-commonform.tm-contactform-19 .contact-form-submitbtn {
    display: block;   
}
    .tm-contactform-19 .tm-checkbox {
    margin-left: 0;
    }
}

@media (min-width: 992px){
.tab-style1 .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title{
	-webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
	}
}
@media (max-width: 1024px){
.tab-style1  .tm-tab-style1 {
    display: block;
}
.tab-style1 .tm-tab-style1 .tab-img {
    width: 100%;
    margin-bottom: 30px;
}
.tab-style1 .tm-tab-style1 .tm-content {
    width: 100%;
    margin-bottom: 30px;
}

}
@media (max-width: 767px){
.tab-style1 .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title {
    display: none;
}
.tab-style1 .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-title {
    display: block;
}
.tab-style1 .elementor-tabs .elementor-tabs-wrapper:after{
	content: unset;
}
.tab-style1 .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-title {
    display: inline-block;
    width: 100%;
    background-color: #f6f7f9;
    padding: 15px 20px;
    border-radius: 0;
    border: 1px solid #eee;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}
.tab-style1 .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-title.elementor-active {
    background-color: #246dd6;
    border-color: #246dd6;
    color: #fff;
}

}
@media (max-width: 479px){
.tab-style1 .tm-tab-style1 .tm-content{
	 padding: 30px 20px 50px 25px;
}
.tab-style1 .tm-tab-style1 .tm-content h3{
	font-size: 25px;
	line-height: 35px;
}
}
@media (max-width: 420px){
.site-header .site-logo {
	font-size: 22px;
	line-height: 33px;
}
}